body{
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	font-size: 16px;
		}


.background-top{
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	height: auto;
	background: url('../images/ImageHere.png');
	background-size: cover;
	min-width: 100vw;
}

.top-color{
	background-size: cover;
	background-position:center;
	background-color: rgba(30, 15, 73, 0.85);
	min-width: 100%;
	min-height: 100%;
}

.header-content{
	padding-top: 15px;
	left: 0;
	right: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-right: 15px;
	padding-left: 15px;
	align-items: baseline;
}

.wrapper{
	margin: 0 auto;
	height: auto;
	max-width: 940px;
}

.logo a img{
	vertical-align: middle;
}

.logo {
	transition:opacity 0.5s ease;
	padding-bottom: 25px;
}

.logo:hover{
	opacity: 0.6;
}

.top-menu{
	display: block;
}

.top-menu li{
	vertical-align: middle;
	display: inline-block;
	padding: 0 0 0 1.25em;
}

.menu-link{
	font-size: 0.8125rem;
	font-weight: 900;
	transition:color 0.5s ease;
	color: #ffffff;
	text-decoration: none;
	font-family: 'Roboto';
}

.menu-link:hover{
	color:#00e0d0;
}

.menu-link:focus{
	color: #00e0d0;
}

.mobile-link{
	display: none;
}


.hero-section{
	height: auto;
	margin: 0 auto;
	padding-top: 10rem;
	line-height: 1.4;
	overflow: hidden;
	width: 70%;
}

.hero-slider{
	color: #ffffff;
	text-align: center;
	width: 80%;
	margin: 0 auto;;
}

.hero-slider h2{
	line-height: 1.5;
	font-family: 'Playfair Display Black', arial;
	font-size: 2rem;
	word-wrap: break-word;
	color: #ffffff;
	margin: 0;
	letter-spacing: 1px;
}

.line{
	width: 50px;
	display: inline-block;
	border-bottom: 1px solid #00e0d0;
	margin-bottom: 1em;
	text-align: center;
	height: 1em;
}

.hero-slider p{
	font-size: 0.875rem;
	padding-bottom: 3em;
	font-family: 'Roboto';
	font-weight: lighter;
	word-wrap: break-word;
	letter-spacing: 1px;
	line-height: 1.7;
}

.hero-slider a{
	transition:background-color 0.5s ease;
	text-decoration: none;
	color:#00e0d0;
	font-family: 'Roboto';
	font-weight: bolder;
	font-size: 1rem;
	border: 1px solid;
	padding: 0.875em;
	display: inline-block;
	line-height: 1;
	border-radius: 2px;
	letter-spacing: 1px;
}

.hero-slider a:hover{
	background-color: rgb(55, 82, 66);
}

.owl-dots{
	display: flex;
	height: 10px;
	width: 7%;
	margin: 7em auto 4.25em;
}

.owl-nav{
	display: none;
}

.owl-dot{
	width: 8px;
	border-radius: 50%;
	margin: 0 auto;
	height: 8px;
	border: 1px solid #bababc;
	display: inline-block;
}

.owl-dot.active{
	background-color: #00e0d0;
	border: 1px solid #00e0d0;
}

.content{
	margin: 0 auto;
	padding-top: 75px;
	height: auto;
	padding-bottom: 70px;
	flex-wrap: wrap;
	display: flex;
	width: 940px;;
}

.Left{
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46%;
}

.Right{
	height: auto;
	line-height: 1.5;
	width: 54%;
}

.Right h3{
	line-height: 1.5;
	margin-bottom: 0.6em;
	font-family: 'Playfair Display SC', serif;
    color: #413d4b;
	font-weight: bold;
	font-size: 1.375rem;
}

.Right p{
	font-size: 0.875rem;
	margin-top: 0;
	font-family: 'Roboto';
	font-weight: lighter;
	line-height: 1.6;
	margin-bottom: 1.8em;
	color: #413d4b;
}

.Right a{
	transition:background-color 0.5s ease;
	text-decoration: none;
	color:#00e0d0;
	font-family: 'Roboto';
	font-weight: bolder;
	font-size: 1rem;
	border: 1px solid;
	padding: 0.875em;
	display: inline-block;
	line-height: 1;
	border-radius: 2px;
	letter-spacing: 1px;
}

.Right a:hover{
	background-color: #a388b5;
}

.background-video{
	background: url('../images/Imagevideo.png');
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	height: auto;
	background-size: cover;
	min-width: 100vw;
}

.color-video{
	height: 100%;
	width: 100%;
	background-position: center;
	background-color: rgba(11, 3, 55, 0.8);
}

#video_holder{
    position: relative;
    margin: 0 auto;
    z-index: 20;
    min-height: 550px;
    min-width: 100vw;
}

#overlay{
 	position: absolute;
	top: 50%;
    left: 50%;
    width: 174px;
    height: 100px;
    margin-top: -70px;
    margin-left:-82px;
 	z-index: 10;
 	background: url('../images/play.png') 50% 50% no-repeat;
 	transition:opacity 0.3s ease;
}

#overlay h4{
    font-size: 1rem;
    font-weight: 900;
    line-height: 1.5;
    font-family: 'Roboto';
    color: #fff;
    text-align: center;
    width: 100%;
    top: 110px;
    position: absolute;
    letter-spacing: 1px;
}

#overlay.o{
    background: none;
}

#overlay.o h4{
	display: none;
}

#overlay:hover{
	cursor: pointer;
	opacity: 0.5;
}

.card-header{
	text-align: center;
	width: 100%;
	padding-top: 70px;
}

.card-header h3{
	line-height: 1;
	font-family: 'Playfair Display SC', serif;
	color: #413d4b;
	margin-top: 0;
	font-size: 1.375rem;
	margin-bottom: 0.6em;
	word-wrap: break-word;
	letter-spacing: 1px;
}

.card-header p{
	color: #2f2d35;
	font-family: 'Playfair Display Regular';
	font-size: 0.875rem;
	line-height: 1;
	word-wrap: break-word;
	letter-spacing: 1px;
}

.line-section-card{
    border-bottom: 2px solid #c6c4c9;
    width: 50px;
    display: inline-block;
    text-align: center;
    margin-bottom: 16px;
} 

#card-section{
	padding-top: 44px;
	padding-bottom: 68px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1000px;
}

#card-1, #card-2, #card-3, #card-4, #card-5, #card-6{
	width: 26%;
	height: auto;
	color: #8395a2;
	text-align: center;
	float: left;
	box-sizing: content-box;
	padding: 25px;
}

.card img{
	height: 50px;
}

.card h4{
	font-size: 0.875rem;
	color: #413d4b;
	font-family: 'Roboto';
	font-weight: 900;
	line-height: 1;
	word-wrap: break-word;
	letter-spacing: 1px;
}

.card p{
	color: #333333;
	font-size: 0.875rem;
	font-family: 'Roboto';
	font-weight: lighter;
	line-height: 1.6;
	word-wrap: break-word;
	letter-spacing: 1px;
}

#card-1{
	border-bottom: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb; 
}

#card-2{
	border-bottom: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb; 
}

#card-3{
	border-bottom: 1px solid #ebebeb; 
}

#card-4{
	border-right: 1px solid #ebebeb; 
}

#card-5{
	border-right: 1px solid #ebebeb; 
}

.team{
	height: auto;
	background-repeat: no-repeat;
	background: url(../images/teamImage.png);
	background-size: cover;
}

.team-color{
	width: 100%;
	background-color: rgba(61,48,99,0.85);
	height: auto;
	background-position: center;
	background-size: cover;
}

.team-header{
	text-align: center;
	width: 100%;
	padding-top: 70px;
}

.team-header h3{
	line-height: 1;
	margin-bottom: 0.6em;
	font-family: 'Playfair Display SC', serif;
	color: #ffffff;
	margin-top: 0;
	font-size: 1.375rem;
	letter-spacing: 1px;
}

.team-header p{
	color: #f9f9f9;
	font-family: 'Playfair Display Regular';
	font-size: 0.875rem;
	line-height: 1.5;
	letter-spacing: 1px;
}

.team-content-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 35px;
	padding-bottom: 70px;
}

.team-content-wrapper a{
	transition:opacity 0.5s ease;
}

.team-content-wrapper a:hover{
	opacity: 0.5;
}

.team-content{
	width: 220px;
}

.team-photo{
	height: 230px;
	width: 220px;
}

.team-photo img{
	width: 100%;
	height: 100%;
}

.team-names{
	height: auto;
	text-align: center;
	border: 1px solid #767589;
	padding: 20px;
}

.team-names h5{
	font-size: 0.875rem;
	color: #ffffff;
	font-family: 'Roboto';
	font-weight: 900;
	line-height: 1;
	margin: 0;
	word-wrap: break-word;
	letter-spacing: 1px;
}

.team-names p{
	font-size: 0.8125rem;
	color: #fafafa;
	font-family:'Roboto';
	font-weight: lighter;
	margin-bottom: 0;
	margin-top: 9px;
	word-wrap: break-word;
}

.team-footer{
	padding-bottom: 52px;
	text-align: center;
}

.team-footer p{
	font-size:0.875rem;
	color: #f3f3f3;
	margin-top: 0;
	font-family: 'Roboto';
	line-height: 1.5;
	margin-bottom: 27px;
	letter-spacing:1px;
}

.team-footer a{
	transition:background-color 0.5s ease;
	text-decoration: none;
	color: #00e0d0;
	font-family: 'Roboto';
	font-weight: bolder;
	font-size: 1rem;
	border: 1px solid;
	padding: 0.875em;
	display: inline-block;
	line-height: 1;
	border-radius: 2px;
	letter-spacing: 1px;
}

.team-footer a:hover{
    background-color: rgb(55, 82, 66);
}

.works-header{
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 70px;
	padding-top: 70px;
	padding-right: 10px;
}

.works-header h3{
	font-size: 1.375rem;
	color: #413d4b;
	line-height: 1;
	font-family: 'Playfair Display SC', serif;
	margin: 0;
	letter-spacing: 1px;
}

.works-header a{
	font-family: 'Roboto';
	cursor: pointer;
	line-height: 1.5;
	color: #413d4b;
	font-weight:300;
	font-size: 0.875rem;
	display: inline-block;
	text-decoration: none;
}

.works-header a:after{
	display: block;
	content: "";
	height: 1px;
	width: 0%;
	background-color: #413d46;
	transition: width 0.3s ease-in-out;
}

.works-header a:hover:after,
.works-header a:focus:after{
	width:100%;
}

.works-header img{
	padding-left: 7px;
}

.works-footer{
	text-align: center;
	padding-bottom: 70px;
	padding-top: 70px;
}

.works-footer a{;
	transition:background-color 0.5s ease;
	text-decoration: none;
	color: #00e0d0;
	font-family: 'Roboto';
	font-weight: bolder;
	font-size: 1rem;
	border: 1px solid;
	padding: 0.875em;
	display: inline-block;
	line-height: 1;
	border-radius: 2px;
	letter-spacing: 1px;
}

.works-footer a:hover{
	 background-color: #a388b5;
}

.works-content{
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

.works-content a {
	line-height: 0;
}

.works-content a img{
	transition:filter 0.5s ease;
	height: 200px;
	min-width: 267px;
}

.works-content a img:hover{
	filter: blur(3px);
}

.testimonials{
	width: 100vw;
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	height: auto;
	background: url('../images/testimonials.png');
	background-size: cover;
	z-index: 1;
}

.color-testimonials{
	width: 100%;
	background-size: cover;
	background-position:center;
	background-color: rgba(61,48,99,0.85);
	height: auto;
	z-index: 1;
}

.testimonials-header{
	padding-top: 70px;
	padding-bottom: 40px;
	text-align: center;
	z-index: 1;
}

.slider{
	width: 51%;
	margin: 0 auto;

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bx-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.bx-wrapper img {
  width: 100%;
  max-width: 100%;
  display: block;
}

#bx-pager {
  padding-bottom: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

#bx-pager a {
	margin: 0 7px;
}

#bx-pager a img {
  transition: 0.4s ease-in-out;
  width: 45px;
}

#bx-pager a.active img {
	width: 70px;
}

.bx-prev, .bx-next {
  top: 50%;
  text-align: center;
  cursor: pointer;
  color: #666;
  position: absolute;
  text-decoration: none;
  transition: 0.4s linear;
  z-index: 10;
}

.bx-prev {
  background-image: url(../images/back.png);
  height: 20px;
  width: 14px;
  background-position: center;
  left: 135px;
  top: 108%;
}

.bx-next {
background-image: url('../images/forward.png');
top: 108%;
height: 21px;
width: 14px;
background-position: center;
right: 135px;
}

.bx-prev:before, .bx-next:before {
}

.bx-next:before {content:"";}
.bx-prev:before {content: "";}

.testimonials-content p{
	font-size: 1rem;
	color: #ffffff;
	font-family: 'Playfair Display Regular';
	line-height: 1.625;
	word-wrap: break-word;
	text-align: center;
	margin: 0 auto;
	letter-spacing: 1px;
}

.testimonials-content h5{
	text-align: center;
	width: 100%;
	font-size: 0.875rem;
	font-weight: 900;
	color: #ffffff;
	margin: 0;
	padding-top: 50px;
	font-family: 'Roboto';
	line-height: 1.5;
	letter-spacing: 1px;
}

.testimonials-content h6{
	font-size: 0.8125rem;
	font-family: 'Roboto';
	font-weight: lighter;
	color: #ffffff;
	line-height: 1.5;
	padding-bottom: 40px;
	margin: 0;
	text-align: center;
}

.contact{
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
	flex-wrap: wrap;
}

.contact-left{
	width: 455px;
	height: auto;
}

.contact-left h3{
	font-size: 1.375rem;
    color: #413d4b;
    line-height: 1;
    font-family: 'Playfair Display SC', serif;
	padding-bottom: 35px;
	margin: 0;
	letter-spacing: 1px;;
}

#author{
	border: 1px solid #e5e5e5;
	font-family: 'Roboto';
	font-weight: lighter;
	padding: 15px 10px 15px 20px;
	width: 100%;
	letter-spacing: 1px;
}

#email{
	border: 1px solid #e5e5e5;
	padding: 15px 10px 15px 20px;
	width: 100%;
	font-family: 'Roboto';
	font-weight: lighter;
	color: #413048;
	letter-spacing: 1px;
}

#subject{
	border: 1px solid #e5e5e5;
	padding: 15px 10px 15px 20px;
	width: 100%;
	font-family: 'Roboto';
	font-weight: lighter;
	color: #413048;
	letter-spacing: 1px;
}

#comment{
	border: 1px solid #e5e5e5;
	padding: 18px 10px 15px 20px;
	font-family: 'Roboto';
	font-weight: lighter;
	line-height: 1.3;
	width: 100%;
	color: #413048;
	letter-spacing: 1px;
	resize: vertical;
}

#submit{
	transition:background-color 0.5s ease;
	text-decoration: none;
	color: #00e0d0;
	font-family: 'Roboto';
	font-weight: bolder;
	font-size: 1rem;
	border: 1px solid;
	display: inline-block;
	line-height: 1;
	border-radius: 2px;
	background: none;
	padding: 0.625rem 1.625rem;
	letter-spacing: 1px;
}

#submit:hover{
	background-color: #a388b5;
	cursor: pointer;

}

input[type="text"]::-webkit-input-placeholder {
    color: #413d4b;
   } 
input[type="text"]::-moz-placeholder {
    color: #413d4b;
   }

 textarea::-webkit-input-placeholder { 
 	color: #413d4b; 
 }

 textarea::-webkit-input-placeholder { 
 	color: #413d4b; 
 }

.client tr th p{
	font-size: 1.375rem;
    color: #413d4b;
    line-height: 1;
    font-family: 'Playfair Display SC', serif;
	margin: 0;
	text-align: start;
	padding-bottom: 18px;
	padding-left: 34px;
	letter-spacing: 1px;
}

.client{
	width: 455px;
	height: auto;
}

tr th{
	padding-bottom: 39px;
}

.footer-image{
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../images/footer.png');
	background-size: cover;
	min-width: 100vw;
	position: relative;
}

.footer-color{
	background-size: cover;
	background-position:center;
	background-color: rgba(19, 10, 60, 0.85);
	min-height: auto;
	min-width: 100%;
}

.footer-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 15px;
	padding-top: 70px;
	max-width: 1000px;
	flex-wrap: wrap;
}

.footer-content{
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;
	max-width: 940px;
	flex-wrap: wrap;
	padding-top: 55px;
	align-items: baseline;
}

.footer-left{
	width: 33%;
}

.footer-left p{
	color: #ffffff;
	font-size: 0.875rem;
	font-family: 'Roboto';
	font-weight: lighter;
	line-height: 1.875;
	word-wrap: break-word;
	margin: 0;
	letter-spacing: 1px;;
}

.footer-center{
	width: 33%;
}

.footer-center h5{
	font-size: 0.9375rem;
	color: #ffffff;
	font-family: 'Roboto';
	font-weight: 900;
	line-height: 1;
	margin: 0;
	word-wrap: break-word;
	padding-bottom: 35px;
	letter-spacing: 1px;
}

.footer-right{
	width: 31%;
}

.footer-right h5{
	font-size: 0.9375rem;
	color: #ffffff;
	font-family: 'Roboto';
	font-weight: 900;
	line-height: 1;
	margin: 0;
	word-wrap: break-word;
	padding-bottom: 35px;
	letter-spacing: 1px;
}

.footer-center-content{
	display: flex;
}

.footer-center-content div img{
	padding-right: 15px;
}

.footer-center-content a{
	margin-top: 0;
	color: #ffffff;
	font-size: 0.875rem;
	font-family: 'Roboto';
	font-weight: lighter;
	line-height: 1.875;
	word-wrap: break-word;
	letter-spacing: 1px;
	text-decoration: none;
}
.footer-center-content p{
	margin-top: 0;
	color: #ffffff;
	font-size: 0.875rem;
	font-family: 'Roboto';
	font-weight: lighter;
	line-height: 1.875;
	word-wrap: break-word;
	letter-spacing: 1px;
}

#subscribe{
	border: 1px solid #9e97af;
	height: 44px;
	width: 194px;
	padding-left: 15px;
	font-size: 0.875rem;
	font-family: 'Roboto';
	font-weight: lighter;
	line-height: 1.6;
	word-wrap: break-word;
	background-color: transparent;
	letter-spacing: 1px;
}

#submit-subscribe{
	transition:color 0.3s ease; 
	height: 48px;
	width: 70px;
	padding-left: 15px;
	font-size: 0.875rem;
	font-family: 'Roboto';
	font-weight: lighter;
	line-height: 1.6;
	word-wrap: break-word;
	margin-left: 5px;
	border: none;
	background-color: rgba(230, 230, 233, 0.48);
}

#submit-subscribe:hover{
	cursor: pointer;
	color:#00e0d0;
}

#subscribe[type="text"]::-webkit-input-placeholder {
    color: #ffffff;
   } 

#subscribe[type="text"]::-moz-placeholder {
    color: #ffffff;
   }

.social-media{
	padding-top: 25px;
   }

.social-media img{
	border-radius: 50%;
	transition:background-color 0.3s ease;
	margin-right: 4px;
   }

.social-media img:hover{
	background-color: #00e0d0;
	border-radius: 50%;
}   

.footer-footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 55px;
	max-width: 1000px;
	flex-wrap: wrap;
   }

.footer-properties a{
	transition:color 0.3s ease;
	font-size: 0.875rem;
	font-family: 'Roboto';
	font-weight: 400;
	line-height: 1.5;
	word-wrap: break-word;
	color: #ffffff;
	text-decoration: none;
	padding-left: 15px;
   }

   .footer-properties a:hover{
   	color:#00e0d0;
   }

.footer-copyright{
	color: #ffffff;
	font-size: 0.875rem;
	font-family: 'Roboto';
	font-weight: 400;
	line-height: 1.5;
	word-wrap: break-word;
	padding-right: 15px;
   }
}








