body{
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
		}


.background-top{
	width: 100vw;
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	height: auto;
	background: url('../images/ImageHere.png');
	background-size: cover;
}

.top-color{
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position:center;
	background-color: rgba(30, 15, 73, 0.85);
}

.header-content{
	padding-top: 15px;
	left: 0;
	right: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	padding-right: 15px;
	padding-left: 15px;
}

.wrapper{
	margin: 0 auto;
	height: auto;
}

.logo a img{
	vertical-align: middle;
}

.logo {
	opacity: 0.6;
	transition: 0.5s;
	padding-bottom: 25px;
}

@media  screen and (max-width:710px){
	.top-menu{
	display: none;
	}

	.logo a img{
	vertical-align: middle;
}

.logo {
	transition: 0.5s;
	padding-bottom: 25px;
	text-align: center;
}
}

.top-menu li{
	vertical-align: middle;
	display: inline-block;
}

.menu-link{
	font-size: 0.8125rem;
	font-weight: 900;
	transition: 0.5s;
	color: #ffffff;
	padding: 0 0 0 1.25em;
	text-decoration: none;
	font-family: 'Roboto';
}

@media screen and (min-width: 711px){
	.mobile-link{
		display: none;
	}
} 

a li
		{
			text-decoration: none;
		}

		#menuToggle{  
			-webkit-user-select: none;
			user-select: none;  
			z-index: 1;  
			top: 0;
		}

		#menuToggle input
		{ 
			-webkit-touch-callout: none;
			display: block;
			cursor: pointer;
			z-index: 2; 
			position: absolute; 
			width: 36px; 
			height: 41px; 
			left: 9px; 
			top: 8px; 
			opacity: 0;
		}

 #menuToggle img
 {
 	width: 32px;
 	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
 	background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
 	opacity 0.55s ease;
 	transform-origin: 4px 0px;
 	z-index: 1;
 	position: absolute;
 	left: 12px;
 	display: block;
 	height: 28px;
 	top: 12px;;
 }

 #menu
 {
 	list-style-type: none;
 	-webkit-font-smoothing: antialiased;
 	transform-origin: 0% 0%;
 	transform: translate(-100%, 0);
 	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 	padding: 10px 68px;
 	position: absolute;
 	top: 38px;
 	border: 1px solid #00e0d0;
 	left: -5px;
 	border-radius: 3px;
 	background-color: #3b2c5d;
 	z-index: 2;;
 } 

 #menu li
 {
 	padding: 10px 0;
 	font-size: 1rem;
 }

 #menu li a{
 	text-decoration: none;
 	color: #00e0d0
 	 }

 #menuToggle input:checked ~ ul
 {
 	transform: scale(1.0, 1.0);
 	opacity: 1;
 }

.hero-section{
	height: auto;
	margin: 0 auto;
	padding-top: 2rem;
	line-height: 1.4;
	overflow: hidden;
	width: 70%;
}

.hero-slider{
	color: #ffffff;
	text-align: center;
	width: 90%;
	margin: 0 auto;;
}

.hero-slider h2{
	line-height: 1.5;
	font-family: 'Playfair Display Black', arial;
	font-size: 1rem;
	word-wrap: break-word;
	color: #ffffff;
	margin: 0;
}

.line{
	width: 50px;
	display: inline-block;
	border-bottom: 1px solid #00e0d0;
	margin-bottom: 0em;
	text-align: center;
	height: 1em;
}

.hero-slider p{
	font-size: 0.875rem;
	padding-bottom: 1em;
	font-family: 'Roboto';
	font-weight: lighter;
	word-wrap: break-word;
}

.hero-slider a{
	transition: 0.5s;
	text-decoration: none;
	color:#00e0d0;
	font-family: 'Roboto';
	font-weight: bolder;
	font-size: 0.8rem;
	border: 1px solid;
	padding: 0.875em;
	display: inline-block;
	line-height: 1;
	border-radius: 2px
}

.owl-dots{
	margin: 3em auto 1.25em;
	display: flex;
	height: 10px;
	width: 12%;
}

.owl-nav{
	display: none;
}

.owl-dot{
	width: 6px;
	border-radius: 50%;
	margin: 0 auto;
	height: 6px;
	border: 1px solid #bababc;
	display: inline-block;
}

.owl-dot.active{
	background-color: #00e0d0;
	border: 1px solid #00e0d0;
}

.content{
	margin: 0 auto;
	padding-top: 75px;
	height: auto;
	padding-bottom: 70px;
	flex-wrap: wrap;
	display: flex;
	max-width: 1000px;
}

.Left{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Right{
	height: auto;
	line-height: 1.5;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	word-break: break-word;;
}

.Right h3{
	line-height: 1.5;
	margin-bottom: 0.6em;
	font-family: 'Playfair Display SC', serif;
    color: #413d4b;
	font-weight: bold;
	font-size: 1.375rem;
	text-align: center;;
}

.Right p{
	font-size: 0.875rem;
	margin-top: 0;
	font-family: 'Roboto';
	font-weight: lighter;
	line-height: 1.5;
	margin-bottom: 1.8em;
	color: #413d4b;;
}

.Right a{
	transition: 0.5s;
	text-decoration: none;
	color:#00e0d0;
	font-family: 'Roboto';
	font-weight: bolder;
	font-size: 0.8rem;
	border: 1px solid;
	padding: 0.875em;
	display: block;
	line-height: 1;
	border-radius: 2px;
	margin: 0 auto;
	width: 83px;
	text-align: center;
}

.background-video{
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background: url('../images/Imagevideo.png');
	min-height: 550px;
	min-width: 100vw;
}

.color-video{
	display: flex;
	align-items: center;
	background-color: rgba(11, 3, 55, 0.87);
	height: 100%;
	width: 100%;
	background-position: center;
}

#video_holder{
    position: relative;
    width: 600px;
    height: 550px;
    margin: 0 auto;
    z-index: 20;
}

#overlay{
 	position: absolute;
	top: 50%;
    left: 50%;
    width: 174px;
    height: 100px;
    margin-top: -70px;
    margin-left:-82px;
 	z-index: 10;
 	background: url('../images/play.png') 50% 50% no-repeat;
 	transition: 0.3s;;
}

#overlay h4{
    position: absolute;
    top: 110px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 900;
    line-height: 1.5;
    font-family: 'Roboto';
}

#overlay.o{
    background: none;
}

#overlay.o h4{
	display: none;
}

.card-header{
	text-align: center;
	width: 100%;
	padding-top: 70px;
	margin: 0;
}

.card-header h3{
	line-height: 1;
	font-family: 'Playfair Display SC', serif;
	color: #413d4b;
	margin-top: 0;
	font-size: 1.375rem;
	margin-bottom: 0.6em;
	word-wrap: break-word;
	padding-left: 10px;
	padding-right: 10px;
}

.card-header p{
	color: #2f2d35;
	font-family: 'Playfair Display Regular';
	font-size: 0.875rem;
	line-height: 1;
	padding-left: 10px;
	padding-right: 10px;
	word-wrap: break-word;
}

.line-section-card{
    border-bottom: 2px solid #c6c4c9;
    width: 50px;
    display: inline-block;
    text-align: center;
    margin-bottom: 16px;
} 

#card-section{
	padding-top: 10px;
	padding-bottom: 28px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1000px;
}

.card img{
	height: 50px;
}

.card h4{
	font-size: 0.875rem;
	color: #413d4b;
	font-family: 'Roboto';
	font-weight: 900;
	line-height: 1;
	word-wrap: break-word;;
}

.card p{
	color: #333333;
	font-size: 0.875rem;
	font-family: 'Roboto';
	font-weight: lighter;
	line-height: 1.4;
	word-wrap: break-word;
}

@media screen and (min-width: 575px){
	#card-1, #card-2, #card-3, #card-4, #card-5, #card-6{
	height: auto;
	color: #8395a2;
	text-align: center;
	float: left;
	padding: 25px;
	width: 41%;
}

	#card-1{
	border-bottom: 1px solid #ebebeb; 
	border-right: 1px solid #ebebeb; 
	}

	#card-2{
	border-bottom: 1px solid #ebebeb; 
	}

	#card-3{
	border-right: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb; 
	}

	#card-4{
	border-bottom: 1px solid #ebebeb; 
	}

	#card-5{ 
	border-right: 1px solid #ebebeb; 
	}
}

@media screen and (max-width: 575px){

	#card-1, #card-2, #card-3, #card-4, #card-5, #card-6{
	height: auto;
	color: #8395a2;
	text-align: center;
	float: left;
	padding: 25px;
	width: 100%;
}

	#card-1{
	border-bottom: 1px solid #ebebeb; 
	}

	#card-2{
		border-bottom: 1px solid #ebebeb; 
	}

	#card-3{
		border-bottom: 1px solid #ebebeb; 
	}

	#card-4{
		border-bottom: 1px solid #ebebeb; 
	}

	#card-5{ 
		border-bottom: 1px solid #ebebeb; 
	}

}

.team{
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background: url(../images/teamImage.png);
	background-size: cover;
	min-width: 100vw;
	min-height: auto;
}

.team-color{
	background-size: cover;
	background-position: center;
	background-color: rgba(1, 0, 39, 0.84);
	min-height: 100%;
	min-width: 100%;
}

.team-header{
	text-align: center;
	width: 100%;
	padding-top: 70px;
}

.team-header h3{
	line-height: 1;
	margin-bottom: 0.6em;
	font-family: 'Playfair Display SC', serif;
	color: #ffffff;
	margin-top: 0;
	font-size: 1.375rem;
	word-wrap: break-word;
	padding-left: 10px;
	padding-right: 10px;
}

.team-header p{
	color: #f9f9f9;
	font-family: 'Playfair Display Regular';
	font-size: 0.875rem;
	line-height: 1.5;
	word-wrap: break-word;
	padding-left: 10px;
	padding-right: 10px;;
}

.team-content-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 47px;
}

.team-content{
	width: 220px;
	margin: 0 auto;
	padding: 20px;
}

.team-photo{
	height: 230px;
	width: 220px;
}

.team-photo img{
	width: 100%;
	height: 100%;
}

.team-names{
	width: 178px;
	height: auto;
	text-align: center;
	border: 1px solid #767589;
	padding: 20px;
}

.team-names h5{
	font-size: 0.875rem;
	color: #ffffff;
	font-family: 'Roboto';
	font-weight: 900;
	line-height: 1;
	margin: 0;
	word-wrap: break-word;
}

.team-names p{
	font-size: 0.8125rem;
	color: #fafafa;
	font-family:'Roboto';
	font-weight: lighter;
	margin-bottom: 0;
	margin-top: 9px;
	word-wrap: break-word;
}

.team-footer{
	text-align: center;
	padding-bottom: 43px;
}

.team-footer p{
	font-size: 0.875rem;
	color: #f3f3f3;
	margin-top: 0;
	font-family: 'Roboto';
	line-height: 1.5;
	margin-bottom: 27px;
	word-wrap: break-word;
	padding-left: 10px;
	padding-right: 10px;
}

.team-footer a{
	transition: 0.5s;
	text-decoration: none;
	color: #00e0d0;
	font-family: 'Roboto';
	font-weight: bolder;
	font-size: 0.8rem;
	border: 1px solid;
	padding: 0.875em;
	display: inline-block;
	line-height: 1;
	border-radius: 2px;
}

.works-header{
	height: auto;
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding-bottom: 25px;
	padding-top: 35px;
}

.works-header h3{
	font-size: 1.375rem;
	color: #413d4b;
	line-height: 1.5;
	font-family: 'Playfair Display SC', serif;
	margin: 0 auto;
}

.works-header a{
	font-family: 'Roboto';
	cursor: pointer;
	line-height: 1.5;
	color: #413d4b;
	font-weight:300;
	font-size: 0.875rem;
	display: inline-block;
	text-decoration: none;
	margin: 0 auto;
}

.works-header a:after{
	display: block;
	content: "";
	height: 1px;
	width: 0%;
	background-color: #413d46;
	transition: width .3s ease-in-out;
}

.works-header img{
	padding-left: 7px;
}

.works-footer{
	text-align: center;
	padding-bottom: 35px;
	padding-top: 35px;
}

.works-footer a{;
	transition: 0.5s;
	text-decoration: none;
	color: #00e0d0;
	font-family: 'Roboto';
	font-weight: bolder;
	font-size: 0.8rem;
	border: 1px solid;
	padding: 0.875em;
	display: inline-block;
	line-height: 1;
	border-radius: 2px;
}

.works-content{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.works-content a {
	line-height: 0;
}

.works-content a img{
	height: 200px;
	min-width: 267px;
}

.testimonials{
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background: url('../images/testimonials.png');
	background-size: cover;
	min-width: 100vw;
	min-height: auto;
}

.color-testimonials{
	background-size: cover;
	background-position:center;
	background-color: rgba(19, 11, 60, 0.75);
	min-height: auto;
	min-width: 100%;
}

.testimonials-header{
	padding-top: 70px;
	padding-bottom: 40px;
	text-align: center;
}

.slider{
	width: 51%;
	margin: 0 auto;

}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bx-wrapper {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.bx-wrapper img {
  width: 100%;
  max-width: 100%;
  display: block;
}

#bx-pager {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 65px;
}

#bx-pager a {
	margin: 0 7px;
}

#bx-pager a img {
  transition: .4s ease-in-out;
  width: 45px;
}

#bx-pager a.active img {
	width: 70px;
}

.bx-prev, .bx-next {
  top: 50%;
  text-align: center;
  cursor: pointer;
  color: #666;
  position: absolute;
  text-decoration: none;
  transition: .4s linear;
  z-index: 10;
}

.bx-prev {
  left: 23%;
  background-image: url(../images/back.png);
  top: 110%;
  height: 20px;
  width: 14px;
  background-position: center;
  display: none;;
}

.bx-next {
right: 23%;
background-image: url('../images/forward.png');
top: 110%;
height: 20px;
width: 14px;
background-position: center;
display: none;
}

.bx-prev:before, .bx-next:before {
  font-family: "FontAwesome";
  font-size: 30px;
  line-height: 80px;
}

.bx-next:before {content:"";}
.bx-prev:before {content: "";}

.testimonials-content p{
	font-size: 1rem;
	color: #ffffff;
	font-family: 'Playfair Display Regular';
	line-height: 1.5;
	word-wrap: break-word;
	width: 100%;
	text-align: center;
	margin: 0;
}

.testimonials-content h5{
	text-align: center;
	width: 100%;
	font-size: 0.875rem;
	font-weight: 900;
	color: #ffffff;
	margin: 0;
	padding-top: 50px;
	font-family: 'Roboto';
	line-height: 1.5;
}

.testimonials-content h6{
	font-size: 0.8125rem;
	font-family: 'Roboto';
	font-weight: lighter;
	color: #ffffff;
	line-height: 1.5;
	padding-bottom: 40px;
	margin: 0;
	text-align: center;
}

.contact{
	padding: 40px 0;
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
}

.contact-left{
	height: auto;
	width: 100%;
}

.contact-left h3{
	font-size: 1.375rem;
    color: #413d4b;
    line-height: 1;
    font-family: 'Playfair Display SC', serif;
	padding-bottom: 35px;
	margin: 0;
	text-align: center;
}

.forma{
	padding-right: 40px;
}

.forma p{

}

#author{
	border: 1px solid #e5e5e5;
	font-family: 'Roboto';
	font-weight: lighter;
	padding: 15px 10px 15px 20px;
	width: 100%;
}

#email{
	border: 1px solid #e5e5e5;
	padding: 15px 10px 15px 20px;
	width: 100%;
	font-family: 'Roboto';
	font-weight: lighter;
	color: #413048;
}

#subject{
	border: 1px solid #e5e5e5;
	padding: 15px 10px 15px 20px;
	width: 100%;
	font-family: 'Roboto';
	font-weight: lighter;
	color: #413048;
}

#comment{
	border: 1px solid #e5e5e5;
	padding: 18px 10px 15px 20px;
	font-family: 'Roboto';
	font-weight: lighter;
	line-height: 1.3;
	width: 100%;
	color: #413048;
}

#submit{
	transition: 0.5s;
	text-decoration: none;
	color: #00e0d0;
	font-family: 'Roboto';
	font-weight: bolder;
	font-size: 0.8rem;
	border: 1px solid;
	display: block;
	line-height: 1;
	border-radius: 2px;
	background: none;
	padding: 0.625rem 1.625rem;
}

input[type="text"]::-webkit-input-placeholder {
    color: #413d4b;
   } 
input[type="text"]::-moz-placeholder {
    color: #413d4b;
   }

 textarea::-webkit-input-placeholder { 
 	color: #413d4b; 
 }

 textarea::-webkit-input-placeholder { 
 	color: #413d4b; 
 }

.client tr th h3{
	font-size: 1.375rem;
    color: #413d4b;
    line-height: 1;
    font-family: 'Playfair Display SC', serif;
	margin: 0;
	padding-top: 39px;
}


.contact-left{
    width: 45%;
    padding-left: 10px;
}

.client{
	width: 50%;
	height: auto;
}
th>img {
width: 75%;
}

tr th{
	padding-bottom: 39px;
}


@media screen and  (max-width: 767px) {
    .contact-left {
        width:100%;
    }
    .client {
        width: 100%;
    }
}



.footer-image{
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../images/footer.png');
	background-size: cover;
	min-width: 100vw;
	position: relative;
}

.footer-color{
	background-color: rgba(19, 10, 60, 0.85);
	min-height: auto;
	min-width: 100%;
	background-size:cover;
	background-position: center;
}

.footer-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 15px;
	padding-top: 70px;
	max-width: 1000px;
	flex-wrap: wrap;
}

.footer-content{
	display: flex;
	justify-content: space-between;
	padding-bottom: 15px;
	flex-wrap: wrap;
	padding-top: 22px;
}

.footer-left{
	width: 100%;
	margin: 15px;
}

.footer-left p{
	color: #ffffff;
	font-size: 0.875rem;
	font-family: 'Roboto';
	font-weight: lighter;
	line-height: 1.6;
	word-wrap: break-word;
	margin: 0;
}

.footer-center{
	width: 100%;
	margin:15px;
}

.footer-center h5{
	font-size: 0.9375rem;
	color: #ffffff;
	font-family: 'Roboto';
	font-weight: 900;
	line-height: 1;
	word-wrap: break-word;
	padding-bottom: 11px;
	margin: 0;
	text-align: center;
}

.footer-right{
	width: 100%;
	margin:15px;
}

.footer-right h5{
	font-size: 0.9375rem;
	color: #ffffff;
	font-family: 'Roboto';
	font-weight: 900;
	line-height: 1;
	margin: 0;
	word-wrap: break-word;
	padding-bottom: 25px;
	text-align: center;
}

.footer-center-content{
	display: flex;
}

.footer-center-content div img{
	padding-right: 15px;
}

.footer-center-content a{
	margin-top: 0;
	color: #ffffff;
	font-size: 0.875rem;
	font-family: 'Roboto';
	font-weight: lighter;
	line-height: 1.6;
	word-wrap: break-word;
	text-decoration: none;
}

.footer-center-content p{
	margin-top: 0;
	color: #ffffff;
	font-size: 0.875rem;
	font-family: 'Roboto';
	font-weight: lighter;
	line-height: 1.875;
	word-wrap: break-word;
	letter-spacing: 1px;
}

#subscribe{
	border: 1px solid #9e97af;
	height: 44px;
	width: 192px;
	padding-left: 15px;
	font-size: 0.875rem;
	font-family: 'Roboto';
	font-weight: lighter;
	line-height: 1.6;
	word-wrap: break-word;
	background-color: transparent;
}

#submit-subscribe{
	transition: 0.3s;
	height: 48px;
	width: 70px;
	padding-left: 15px;
	font-size: 0.875rem;
	font-family: 'Roboto';
	font-weight: lighter;
	line-height: 1.6;
	word-wrap: break-word;
	margin-left: 5px;
	border: none;
	background-color: rgba(230, 230, 233, 0.48);
}

#subscribe[type="text"]::-webkit-input-placeholder {
    color: #ffffff;
   } 

#subscribe[type="text"]::-moz-placeholder {
    color: #ffffff;
   }

.social-media{
	padding-top: 25px;
   }

.social-media img{
	border-radius: 50%;
	transition: 0.3s;
	margin-right: 4px;
   }

.footer-footer{
	display: flex;
	justify-content: space-between;
	padding-bottom: 12px;
	flex-wrap: wrap;
	padding-left: 10px;
	padding-right: 10px;
	align-items: center;
   }

.footer-properties a{
	transition: 0.3s;
	font-size: 0.875rem;
	font-family: 'Roboto';
	font-weight: 400;
	line-height: 1.5;
	word-wrap: break-word;
	color: #ffffff;
	text-decoration: none;
	padding-right: 22px;
   }

.footer-copyright{
	color: #ffffff;
	font-size: 0.875rem;
	font-family: 'Roboto';
	font-weight: 400;
	line-height: 1.5;
	word-wrap: break-word;
   }